body{
margin:0px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10pt;
color:#999999;
}

/*header*/
#header{
height:80px;
border:none; 
}
#logo{ 
height:67px;
background-color:#007499;
}
#issue_num{
color:white;
background-color:black;
font-size:8pt;

height:13px;
border-bottom:1px solid #999999;
text-align:right;
padding-right:6px;
}


/*container*/
#container{
background-color:#FFFFFF;
height:680px;
}
#left{
position:absolute;
left:0px;
border:none;
width:200px;
}
#navigation{
padding:5px;
font-weight:bold;
border:none;
margin:6px 3px 6px 0px;
height:100%;
background-color:#e0c8b4;
}
#issnNum{
text-align:right;
font-size:9px;
padding-right:20px;
color:black;
}
#disclaimer{
background-color:lightskyblue;
margin-left:10px;
margin-right:10px;
padding:10px;
color:black;
}
#middle1{
position:absolute;
left:200px;
width:266px;
}
#middle2{
position:absolute;
left:466px;
border-left:1px solid #999999;


padding:0px;
width:266px;
}
#coverImage{
border:none;
margin:0px;
padding:0px;
background-color:#333333;
}
#desc{
padding:10px;
}
#column_fromTheEditor{
border:none;
margin:6px 3px 6px 3px;
}
#column_fromTheEditor_content{
border:none;
padding:5px 10px 10px 10px;
}
#column_poetry{
border:none;
margin:0px 3px 6px 3px;
}
#column_poetry_content{
border:none;
padding:4px 10px 10px 10px;
}
#column_visualArts{
border:none;
margin:6px 3px 6px 3px;
}
#column_visualArts_content{
border:none;
padding:4px 10px 10px 10px;
}
#right{
	position:absolute;
	left:732px;
	border-left:1px solid #999999;
	width:266px;
	top: 89px;
}
#column_Fiction{
border:none;
margin:6px 3px 6px 3px;
height:190px;
}
#column_Fiction_content{
border:none;
padding:4px 10px 10px 10px;
}
#column_nonFiction{
border:none;
margin:6px 3px 6px 3px;
}
#column_nonFiction_content{
border:none;
padding:4px 10px 10px 10px;
}
#column_bookReview{
border:none;
margin:0px 3px 6px 3px;
}
#column_bookReview_content{
border:none;
padding:4px 10px 10px 10px;
}


/*footer*/
#footer{
background-color:black;
width:100%;
height:13px;
text-align:right;
font-size:8pt;
color:white;
font-weight:lighter;

}


/*class*/
.columnName{
font-weight:bold;
background-color:#007499;
color:white;
padding-left:5px;
}
.columnName2{
font-weight:bold;
background-color:#E1D751;
color:#333333;
padding-left:5px;
}
.articleTitle{
font-weight:bold;
}
.author{
font-style:italic;
color:#333;
}

.articleTitle a:link{
text-decoration:none;
color:#666666;
}
.articleTitle a:visited{
text-decoration:none;
color:#666666;
}
.articleTitle a:hover{
color:#c2ae64;
font-weight:bold;
}

.menuItem a:link{
width:100%;
text-decoration:none;
color:#333333;
}
.menuItem a:visited{
text-decoration:none;
color:#333333;
}
.menuItem a:hover{
color:#333;
font-weight:bold;
background-color:#FFFF66;
}
.menuItem{
height:2em;
width:100%;
}


#column_fromTheEditor:hover{
background-color:#e9e9e9;
}
#column_poetry_content:hover{
background-color:#e9e9e9;
}
#column_visualArts:hover{
background-color:#e9e9e9;
}
#column_Fiction:hover{
background-color:#e9e9e9;
}
#column_nonFiction:hover{
background-color:#e9e9e9;
}
#column_bookReview:hover{
background-color:#e9e9e9;
}

#gallery {
	padding:6px;
	text-align:center;
	font: 10pt Verdana, Arial, Helvetica, sans-serif;
	color:#666666;
}

#gallery a:link, #gallery a:visited {
color:#666666;
font-weight:bold;
text-decoration:none;
}
#gallery a:hover {
text-decoration:underline;
}

.title {
color:#333;
font-weight:bold;
}

